




#section01{
    /*height: 100vh;*/
    /*background: orange;*/
}






.h1_title{
    padding-top: 160px;
    margin-bottom: 150px;
}

.h1_title h1{
    width: 126px;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 300;
    color: #000000;
    margin: 0 auto;
    position: relative;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform:translateX(-50%);*/
    /*top: -150px;*/
}

.h1_title h1:before{
    content: '';
    width: 3px;
    height: 22px;
    background-color: #FCB040;
    position: absolute;
    left: -10px;
    top: 0;

}


#section01 .text_container{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#section01 .text_container .profile_box > div:nth-child(1){
    margin-bottom: 53px;
}


#section01 .text_container .arrow span{
    margin-right: 15px;
}

#section01 .text_container .arrow a{
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    /*font-weight: 300;*/
}

#section01 .text_container .arrow{
    font-size: 20px;
}



#section01 .right_box{
    display: flex;
    flex-direction: column;
    position: relative;
}

#section01 .right_box h2{
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    width: 142px;
    margin-right: 50px;
}

#section01 .right_box > div{
    display: flex;
}

#section01 .right_box > div:first-child{
    margin-bottom: 70px;
}

#section01 .right_box .list{
    max-width:434px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#section01 .right_box .list > div{
    margin-bottom: 36px;
}


#section01 .right_box .list > div:last-child{
    margin-bottom: 0;
}

#section01 .right_box  .list h3{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
}

#section01 .right_box  .list .year{
    font-style: italic;
    color: #6B6B6B;
    font-weight: 300;
    margin-bottom: 5px;
}

#section01 .right_box  .list p{
    color: #6B6B6B;
    font-weight: 300;
}


.resume{
    width: 153px;
    height: 50px;
    background: #6B6B6B;
    position: absolute;
    right: 30px;
    bottom: -150px;
    display: none;
}

.resume a{
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section02{
    padding-bottom: 100px;
}
#section02 .list{
    width: 947px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

#section02 .list h3{
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 40px;
    font-weight: 300;
}



#section02 .list ul >li{
    color: #6B6B6B;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    position: relative;
}


#section02 .list ul >li:after{
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    left: -10px;
    top: 50%;
    transform:translateY(-50%);
    background: #000;
}


@media screen and (max-width: 1200px) {


    #section01 .text_container{
        width: 90%;
    }

}
@media screen and (max-width: 1100px) {


    #section01 .text_container{
        /*flex-direction: column;*/
        /*align-items: center;*/
    }

    #section01 .right_box > div{
        flex-direction: column;
    }


    #section01 .right_box h2{
        margin-bottom: 30px;
    }

    #section01 .right_box > div:first-child{
        margin-bottom: 100px;
    }

}



@media screen and (max-width: 800px) {

    #section01{
        padding-bottom: 250px;
    }
    #section01 .text_container .profile_box{
        margin-bottom: 50px;
    }

    #section01 .text_container .profile_box .arrow{
        display: none;
    }

    #section01 .text_container{
        flex-direction: column;
        align-items: center;
    }


    .h1_title{
        padding-top: 200px;
        margin-bottom: 40px;
    }
    #section01 .right_box .list{
        width: 90%;
        min-width: 300px;
    }

    #section02{
        display: none;
    }

    .resume{
        display: block;
    }
}















